.about-image-and-text-box {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.about-text {
    color: #1b0aad;
    size: 2vw;
}