
.home-page-text {
    color: #1b0aad;
    width: 50vw;
    size: 2vw;
}

.headshot-img {
    height: auto;
    width: 20vw;
    border-radius: 10vw;
}

.gradient {
    background-image: linear-gradient(to bottom, #f5ce7a, #429ef5);
    width: 100vw;
}

.home-page-below-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 90vh;
    /* border-width: 1vw;
    border-color: black;
    border-style: solid;  */
}

.home-page-image-container {
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.home-page-intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
