.experience-page-body {
    height: 100vh;
}

.aqua { /* Test for colors and stuff */
    background-color: aqua;
}

.darkred {
    background-color: darkred;
}

.green {
    background-color: rgb(110, 198, 86);
}

.home-page-text {
    color: #1b0aad;
    width: 40vw;
}

.headshot-img {
    height: auto;
    width: 20vw;
    border-radius: 10vw;
}

.gradient {
    background-image: linear-gradient(to bottom, #f5ce7a, #429ef5);
}

.home-page-outermost-container {
    display: flex;
    flex-direction: column; /* Defines direction of flex items */
    justify-content: flex-start; /* Center flex items horizontally */
    align-items: flex-start; /* Center flex items vertically */
    height: 100vh; /* Makes it so that the flex container takes up 100 percent of the vh (viewport) height */
    width: 100vw;
    margin-top: 5vh;
    /* border-width: 1vw;
    border-color: white;
    border-style: solid;  */
}

.home-page-below-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    /* border-width: 1vw;
    border-color: black;
    border-style: solid;  */
}

.home-page-image-container {
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.home-page-intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.linkedin-icon {
    width: 10vw;
    height: 10vh;
} 