.center { /* Test for aligning header to the center of the screen */
    text-align: center;
} 

.aqua { /* Test for colors and stuff */
    background-color: aqua;
}

.darkred {
    background-color: darkred;
}

.green {
    background-color: rgb(110, 198, 86);
}

.home-page-text {
    color: #1b0aad;
}

img {
    height: 45vh;
    width: 20vw;
    border-radius: 10vw;
}

.gradient {
    background-image: linear-gradient(to bottom, #f5ce7a, #429ef5);
}

.home-page-outermost-container {
    display: flex;
    flex-direction: column; /* Defines direction of flex items */
    justify-content: space-evenly; /* Center flex items horizontally */
    align-items: flex-start; /* Center flex items vertically */
    height: 100vh; /* Makes it so that the flex container takes up 100 percent of the vh (viewport) height */
    /*border-width: 20px;
    border-color: white;
    border-style: solid;*/ /* Debugging borders */
}

.home-page-below-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border-width: 4vw;
    border-color: black;
    border-style: solid; */ /* Debugging borders */
}